.beerList__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 90vw;
    background-color:white;
}

.beer__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    min-height: 15vh;
    min-width: 24vw;
    padding: 10px;
    margin: 20px;
    background-color: $grey;
    border-radius: 15px;
    box-shadow: -4px 5px 14px -5px rgba(0,0,0,0.25);
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: -4px 10px 14px -5px rgba(0,0,0,0.3);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: -4px 5px 14px -5px rgba(0,0,0,0.25);
    }

    @include respond(tab-port) {
        min-width: 30vw;
    }

    @include respond(phone) {
        min-width: 50vw;
    }
}

.infos__container {
    display: flex;
}

.text__container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.name {
    font-size: $m-size;
    color: $bleu;
    width: 18vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @include respond(phone) {
        width: 55vw;
    }
}

.abv, .ibu {
    font-size: $s-size;
    color: $rouge
}

.icon {

    height: 60px;
    width: 60px;

    &__default {
        height: 60px;
        width: 60px;
    }
}

.loader {
    height: 100px;
    width: 100px;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100vw;
    }
}

.loadmore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}