// Colors 
$orange: #e38405;
$jaune: #f8d570;
$bleu: #045c7c;
$rouge: #b0644e;
$grey: #d4ceb1;
$maroon: #181e27;

//Spacing
$s-size: 1.2rem;
$m-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;